.caja_uno{
    height: 130px;
    /*background-color: aquamarine;*/
    position: relative;
}

.caja_uno img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.caja_dos{
    height: 130px;
   /* background-color:tomato;*/
    position: relative;
}

.caja_dos h1{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.caja_tres{
    height: 60px;
    background-color:white;
}

.caja_cuatro{
    background-color:lightblue;
}

.estilo_h1{
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-link{
    color:white;
}




/*formulario*/
.caja1_formulario{
 /*   background-color: cadetblue;*/
}
.caja2_formulario{
    /*background-color:cornflowerblue;*/
}

.caja3_formulario{
    /*background-color:lightblue;*/
}

.estilo_h2{
    text-align:center;
}

.boton-formulario{
    width: 49%;
}
.texto_h5{
    text-align:center; 
    color:orange;
}
 



/*fin formulario*/

@media screen and (max-width: 640px)
{
    .caja_dos h1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
       
}